/* The dots/bullets/indicators */

.mySlides {display: none;}

.mySlides1 {display: none;}

.mySlides2 {display: none;}

.mySlides3 {display: none;}

.mySlides4 {display: none;}

.mySlides6 {display: none;}



.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 30s;
}

.fade1 {
  animation-name: fade1;
  animation-duration: 30s;
}

.fade6 {
  animation-name: fade1;
  animation-duration: 30s;
}



@keyframes fade {
  from {opacity: 6} 
  to {opacity: 3}
}

@keyframes fade1 {
  from {opacity: 6} 
  to {opacity: 3}
}